* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)),
    url('download.jpeg');
    
}

.shadow-pallette {  
    width: 280px;
    height: 280px;
    perspective: 1000px;
}

.container {
    background: #ffeabf;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 3px solid #bc9c72; 
    position: relative;
    width: 100%;
    height: 100%;
    padding: 29px 20px;
    
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; 
    
}

/* تک‌تک رنگ‌های سایه */
.item {
    border: 1px solid #dcc193;
    border-radius: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

/* درِ شیشه‌ای پالت با z-index بالاتر */
.container::after {
    content: 'eyeshadow palette';
    position: absolute;
    font-family: cursive;
    color: #a47300ce;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9px;
    border: 2px solid rgba(255, 255, 255, 0.4); 
    z-index: 2; 
    background-image: linear-gradient(135deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    transform-origin: top; 
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none; 
}

.container:hover::after {
    transform: rotateX(170deg); 
    
}

.item1{background: linear-gradient(135deg, #ff95fc, #c595ff);}
.item2{background: linear-gradient(135deg, #6ab6ff, #95f5ff);}
.item3{background: linear-gradient(135deg, #67e93a, #9cff95);}
.item4{background: linear-gradient(135deg, #ffe795, #95f5ff);}
.item5{background: linear-gradient(135deg, #ff2a15, #ff6a94);}
.item6{background: linear-gradient(135deg, #ff6915, #ff9340);}
.item7{background: linear-gradient(135deg, #67e93a, #9cff95);}
.item8{background: linear-gradient(135deg, #eeff15, #afff40);}
.item9{background: linear-gradient(135deg, #d5f4ff, #caaaff);}
